dist: xenial
language: python
python:
  - "3.6"
  - "3.7"
cache: pip
install:
  - pip install -r requirements.txt
  - pip install .
before_script:
  - git clone https://github.com/Micromeda/genome-properties
script:
  - nosetests -v ./
  - ./pygenprop/testing/test_parse_genome_properties_file.py -i ./genome-properties/flatfiles/genomeProperties.txt
  - ./pygenprop/testing/test_parse_genome_properties_assignments.py -d ./genome-properties/flatfiles/genomeProperties.txt -i pygenprop/testing/test_constants/C_chlorochromatii_CaD3.txt -o ./test1.json
  - ./pygenprop/testing/test_parse_interproscan.py -d ./genome-properties/flatfiles/genomeProperties.txt -i pygenprop/testing/test_constants/C_chlorochromatii_CaD3.tsv -o ./test2.json
  - ./pygenprop.py build -d ./genome-properties/flatfiles/genomeProperties.txt -i pygenprop/testing/test_constants/C_chlorochromatii_CaD3.tsv pygenprop/testing/test_constants/C_luteolum_DSM_273.tsv -o ./joined_cloroflexi_data.micro -p
  - ./pygenprop.py build -d ./genome-properties/flatfiles/genomeProperties.txt -i pygenprop/testing/test_constants/C_chlorochromatii_CaD3.tsv -o ./chloromatii_data.micro -p
  - ./pygenprop.py build -d ./genome-properties/flatfiles/genomeProperties.txt -i pygenprop/testing/test_constants/C_luteolum_DSM_273.tsv -o ./luteolum_data.micro -p
  - ./pygenprop.py merge -d ./genome-properties/flatfiles/genomeProperties.txt -i ./chloromatii_data.micro ./luteolum_data.micro -o ./merged_cholorflexi_data.micro -p
  - ./pygenprop/testing/test_parse_genome_properties_end_to_end.sh
  - ./pygenprop/testing/test_cli.sh
